@import 'config';
@import 'utilities';

@font-face {
    font-family: 'Gelion Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gelion Regular'), url('Gelion Regular.woff') format('woff');
    }

    

    // General Styles
     *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
     }

     
    body{
        font-family: 'Gelion Regular', sans-serif;
        font-size: 1rem;
        font-weight: 550;
        line-height: 1.6;
        background: #fff8f8;
    }

    a{
        text-decoration: none;
        color: $main-color;
    }

    ul{
        list-style: none;
    }

    #main-nav{
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
    


        ul{
            display: flex;
            align-items: center;
            justify-content: center;
        

            li:nth-child(-n+4){
                padding: 1rem 1.5rem;

                a{
                    text-decoration: none;
                    font-family: 'Gelion Regular', sans-serif; 
                    font-size: 18px;
                    font-weight: 400;

                    &:hover{
                        color: $light-color;
                    }
                    &.current{
                        border-color: $light-color;
                    }
        
                    &:after{
                        display: block;
                        content: '';
                        border-bottom: 2px solid $light-color;
                        transform: scaleX(0);
                        transition: transform 0.5s ease-in-out;
                        
                    }
                    &:hover:after{
                        transform: scale(1);
                    }
        
                } 
            }

             li:last-child{
                a{
                    border: 2px solid $light-color;
                    padding: 0.7rem 1.4rem;
                    border-radius: 46px;
                    text-align: center;
                    color: $light-color;

                    &:hover{
                        background: $light-color;
                        color: #fff;
                        transition: all 1s ease-in-out ;


                    }
                }

               }                       


    }

       
}

// Home

.home-div{  

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
    // text-align: center;

   

    .home-img{
   

        .image1{
            width: 1177px;
            height: auto;

        }
    }
    
}


.home2-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;

    .home-img{
   

        .image2{
            width: 840px;
            height: auto;
        }
    }
}

.home3-div{


    .flex-items{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        height: 100%;
        width: 100%;
        margin: 30px 20px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.08);  
        


        img{
            width: 250px;
            height: auto;
        }

        h2{
            margin-top: 2rem;
        }
        p{
            margin-top: 2rem;
        }
    
    }
    
}

.home4-div{

    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    img{
        width: 1150px;
        height: auto;
    }


}

.home5-div{
    .row{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 3rem 3rem;
        height: 100%;
        flex: 50%;
        
    }
    img{
        width: 80%;
    }

    .a{
        width: 40%;
        margin-right: 3rem;
        display: block;
        padding-left: 2rem;
    
    h2:before{
        position: absolute;
        left: 2%;
        content: "01";
        color:$light-color;
        font-weight: bold;
        background: rgba(250, 86, 82, 0.15);
        padding: 0.4rem 0.7rem;
        
        border-radius: 50%;
        }
    }
    .row1{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 3rem 3rem;
        height: 100%;
        flex: 50%;
        
    }
    img{
        width: 80%;
    }

    .b{
        width: 40%;
        margin-right: 3rem;
        display: block;
        padding-left: 2rem;
    
    h2:before{
        position: absolute;
        left :47%;
        content: "02";
        display: inline;
        font-weight: bold;
        color:$light-color;
        background: rgba(250, 86, 82, 0.15);
        padding: 0.4rem 0.7rem;
        
        border-radius: 50%;
        }
    }

    .row2{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 3rem 3rem;
        height: 100%;
        flex: 50%;
        
    }
    img{
        width: 80%;
    }

    .c{
        width: 40%;
        margin-right: 3rem;
        display: block;
        padding-left: 2rem;
    
    h2:before{
        position: absolute;
        left:10px;
        content: "03";
        font-weight: bold;
        color:$light-color;
        background: rgba(250, 86, 82, 0.15);
        padding: 0.4rem 0.7rem;
        
        border-radius: 50%;
        }
    }

    .row3{
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 3rem 3rem;
        height: 100%;
        flex: 50%;
        
    }
    img{
        width: 80%;
    }

    .d{
        width: 40%;
        margin-right: 3rem;
        display: block;
        padding-left: 2rem;
    
    h2:before{
        position: absolute;
        right: 880px;
        content: "04";
        font-weight: bold;
        color:$light-color;
        background: rgba(250, 86, 82, 0.15);
        padding: 0.4rem 0.7rem;
        
        border-radius: 50%;
        }
    }
    


    
}

.home6-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    // position: relative;
    margin-bottom: 3rem;

  
    .text-input{
    
        width: 100%;
        border: none;
        border-radius: 100px;
        padding: 30px 300px 30px 60px; 
        line-height: 1;
        outline: none;
        text-align: left;
  }

  .em{
    display: flex;
   position: relative;
  }

  .btn{
    position: absolute;
    top:2.9px;
    right: 4px;
    background: $light-color;
    color: #fff;
    padding: 1.5rem 4rem;
    border: none;
    align-items: center;
    border-radius: 65px;
    font-size: 1.3rem;

    &:hover{
        background: rgba(250, 86, 82, 0.15) ;
        color: $light-color;
    }
  }


}

.footer-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .footer-ul{
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            li{
                padding: 0 1rem;
                
            }
            a{
                font-weight: 400;
                font-family: 'Gelion Regular', sans-serif;
                font-size: 20px;

                &:hover{
                    color: $light-color;
                    transition: 0.3s ease-in-out;
                }
            }
        }

    }

    .social{
        i{
            padding: 0 0.6rem;
            color: $main-color;
            transition: all 0.5s ease-in-out;


            &:hover{
                color: $light-color;
                cursor: pointer;
            }
        }
        
    }
}

.footer-f{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;

    p{
        color: $main-color ;
    }
}